/.gradle/

/build/
.gradle/8.4/executionHistory/executionHistory.bin
.gradle/8.4/executionHistory/executionHistory.lock
.gradle/8.4/fileHashes/fileHashes.bin
.gradle/8.4/fileHashes/fileHashes.lock
.gradle/8.4/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/file-system.probe
build/classes/java/main/com/ee542/iotgarbagecollector/controller/LocationController.class
build/classes/java/main/com/ee542/iotgarbagecollector/controller/NodeController.class
build/classes/java/main/com/ee542/iotgarbagecollector/database/LocationRepository.class
build/classes/java/main/com/ee542/iotgarbagecollector/database/NodeRepository.class
build/classes/java/main/com/ee542/iotgarbagecollector/entity/Location.class
build/classes/java/main/com/ee542/iotgarbagecollector/entity/Node.class
build/classes/java/main/com/ee542/iotgarbagecollector/IoTGarbageCollectorApplication.class
build/classes/java/main/com/ee542/iotgarbagecollector/service/LocationService.class
build/classes/java/main/com/ee542/iotgarbagecollector/service/NodeService$1.class
build/classes/java/main/com/ee542/iotgarbagecollector/service/NodeService.class
build/classes/java/main/com/ee542/iotgarbagecollector/ServletInitializer.class
build/classes/java/test/com/ee542/iotgarbagecollector/IoTGarbageCollectorApplicationTests.class
build/resources/main/application.yml
build/tmp/bootWar/MANIFEST.MF
build/tmp/compileJava/previous-compilation-data.bin
build/tmp/compileTestJava/previous-compilation-data.bin
build/tmp/war/MANIFEST.MF
